#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left:90%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#text{
  font-size: 20px;
  left: 6%;
  top:15px;
}
@media only screen and (max-width: 768px) {

  
  .slider:before {

    height: 80%;
    width: 50%;
    left: 10%;
    bottom: 10%;

  }

  #switch {
    width: 15%;
    height: 5.5%;
    left:85%;
  }

  #banner{
    width:200%; 
    height:10%;
  }

  #logo{
    width:15%; 
    height:10%;
  }
  
  #text{
    font-size: 15px;
    margin-left:50px;
    margin-top:0px;
  }


}

@media only screen and (min-width: 992px) {

  #switch {
    width: 5%;
    height: 5.5%;
  }
  #banner{
    width:100%; 
    height:10%;
  }
  #logo{
    width:5%; 
    height:10%;
  }

}